.component__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.password-change__container {
  background-color: var(--body-container);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  width: 30rem;
  padding: 2rem;
}

input[type='password'] {
  display: block;
  border-style: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0.5rem 0 0.5rem 0;
}

input[type='submit'] {
  background-color: var(--table-header);
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-style: none;
  display: block;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-top: 1rem;
  color: var(--font-light);
}

.return-button__container button {
  background-color: var(--table-header);
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  border-style: none;
  display: block;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: var(--font-light);
}

input[type='submit']:hover,
.return-button__container button:hover {
  background-color: var(--form-button-hover);
  ;
}

.return-button__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 30rem;
}

input[type='submit']:disabled {
  color: var(--font-medium);
  cursor: auto;
}

input[type='submit']:disabled:hover {
  background-color: var(--table-header);
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
