<div>
  <div>
    <button (click)="return()">Wyjdź</button>
  </div>

  <div>
    <h3>Zmiana hasła</h3>
  </div>

  <div>
    <form class="login__form" [formGroup]="editPasswordForm" (ngSubmit)='changePassword()'>
      <input type="password" formControlName="password" placeholder="Hasło">
      <div *ngIf="getField('password')?.errors?.['required'] && getField('password')?.touched" class="danger_alert">
        Hasło jest wymagane
      </div>
      <div *ngIf="editPasswordForm.errors?.['hasNumberError']  && getField('password')?.touched" class="danger_alert">
        Hasło musi zawierać cyfrę
      </div>
      <div *ngIf="editPasswordForm.errors?.['hasLowerCaseLetterError']  && getField('password')?.touched" class="danger_alert">
        Hasło musi zawierać małą literę
      </div>
      <div *ngIf="editPasswordForm.errors?.['hasUpperCaseLetterError']  && getField('password')?.touched" class="danger_alert">
        Hasło musi zawierać dużą literę
      </div>
      <div *ngIf="editPasswordForm.errors?.['hasSpecialCharacterError']  && getField('password')?.touched" class="danger_alert">
        Hasło musi zawierać znak specjalny
      </div>
      <div *ngIf="getField('password')?.errors?.['minlength'] && getField('password')?.touched" class="danger_alert">
        Hasło jest za krótkie [5-10 znaków]
      </div>
      <div *ngIf="getField('password')?.errors?.['maxlength'] && getField('password')?.touched" class="danger_alert">
        Hasło jest za długie [5-10 znaków]
      </div>

      <input type="password" formControlName="confirmPassword" placeholder="Potwierdź hasło">
      <div *ngIf="editPasswordForm.errors?.['passwordMismatchError'] && getField('confirmPassword')?.touched">
        <div class="danger_alert">Wrpowadzono różne hasła</div>
      </div>

      <div class="register__button-group">
        <input type="submit" value="Zmień hasło" class="register__register-button" [disabled]="!editPasswordForm.valid">
      </div>
    </form>
  </div>
</div>
