<header>

  <ng-container *ngIf="isLoggedIn">
    <a routerLink="user_profile" class="header__left-link">Profil użytkownika</a>

    <div class="header__button-group">
      <a routerLink="reservations">Rezerwacja</a>
      <a routerLink="home" class="active">Strona główna</a>
      <a routerLink="orders">Zamówienie</a>
    </div>

    <button class="header__right-button">Wyloguj</button>
  </ng-container>

  <ng-container *ngIf="!isLoggedIn">
    <h3>Ładna nazwa</h3>
    <a routerLink="login" class="header__right-link">Zaloguj się</a>
  </ng-container>

</header>
