.new-order__table-header {
  background-color: var(--form-button-hover);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  font-weight: bold;
  width: 560px;
  color: var(--font-light);
  border-radius: 4px 4px 0 0;
}

.cell {
  text-align: center;
}

.product {
  width: 120px;
  text-align: left;
  padding-left: 30px;
}

.quantity {
  width: 100px;

}

.price {
  width: 60px;
}

.sum {
  width: 60px;
}

.delete {
  width: 60px;
}

.order-list {
  height: 384px;
  overflow: auto;
}

.no-products {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
