<div class="new-order__table">
  <div class="new-order__table-header">
    <div class="product cell">Produkt</div>
    <div class="quantity cell">Ilość</div>
    <div class="price cell">Cena</div>
    <div class="sum cell">Suma</div>
    <div class="delete cell"></div>
  </div>

    <div class="order-list">
      <div *ngIf="products.length == 0">Dodaj produkty z listy dostępnych produktów.</div>
      <app-new-order-table-row *ngFor="let product of products" [productParentData]="product"></app-new-order-table-row>
    </div>

</div>
