<div class="component__container">
  <div class="product-item__image-container">
    <div class="product-item__image"><img [src]="product.productImage"/></div>
    <div class="product-item__footer">

    <div class="product-item">
      <div class="product-item__info">
          <span class="product-item__name">{{ product.productName }}</span>
          <span class="product-item__price price"> {{ product.productPrice | plnPipe }} </span>
      </div>
      <div class="product-item__button">
        <button class="product-item__add-button" (click)="addProduct()" [disabled]="buttonDisabled==true" [id]="[product.productId]">+</button>
      </div>
    </div>
</div>
