<div class="orders-table__container">
  <div class="orders-table__container-header">
    <h2 class="header">Zamówienia</h2>
    <button class="show-all_button" *ngIf="showAllToggle==false" (click)="showAll()">Pokaż wszystkie</button>
    <button class="show-waiting_button"  *ngIf="showAllToggle==true" (click)="showWaiting()">Pokaż oczekujące</button>
  </div>
  <div>
    <div class="orders__table-header">
      <div class="orderId cell">#</div>
      <div class="status cell">STATUS</div>
      <div class="order-overview cell">SKRÓT</div>
      <div class="price cell">CENA</div>
    </div>
  </div>

  <cdk-virtual-scroll-viewport itemSize ="20" tvsItemSize="48" headerHeight="56">

    <div class="orders-list">
        <app-orders-table-row [orderParentData]="order" *ngFor="let order of displayedOrders"></app-orders-table-row>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
