<div class="orders-table__container">
  <div class="orders-table__container-header">
    <h2 class="header">Zamówienia</h2>
    <button class="show-all_button">Pokaż wszystkie</button>
    <!-- <button class="show-waiting_button">Pokaż oczekujące</button> -->
  </div>

  <div>
    <div class="orders__table-header">
      <div class="orderId cell">Numer zamówienia</div>
      <div class="products cell">Produkty</div>
      <div class="price cell">Cena</div>
      <div class="status cell">Status</div>
      <div class="details cell"></div>
    </div>
  </div>

  <div>

  </div>
</div>
