.orders-table__container {
  background-color: var(--body-container);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 40rem;
  padding: 1rem 1rem 1rem 1rem;
  height: 600px;
  border-radius: 4px;
}

.orders-table__container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 94%;
  justify-content: space-between;
}

.orders__table-header {
  background-color: var(--table-header);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 2px;
  width: 600px;
  color: var(--font-light);
  border-radius: 4px 4px 0 0;
}

.cell {
  text-align: left;
  font-size: 13px;
  font-weight: bold;
}

/* ---- Header Cells ---- */

.orderId {
  width: 10px;
  padding: 12px 10px 12px 30px;
}

.status {
  width: 160px;
}

.order-overview {
  width: 150px;
}

.price {
  width: 60px;
}

.details {
  width: 60px;
  text-align: center;
}

/* ----- Table Content ---- */

.orders-table__container cdk-virtual-scroll-viewport {
  height: 500px;
  width: 98%;
  margin: 0 0 2.5rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.show-all_button,
.show-waiting_button {
  border-style: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: var(--table-header);
  color: var(--font-light);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.show-all_button:hover,
.show-waiting_button:hover {
  background-color: var(--form-button-hover);
}
