<div class="order__table-row">
  <div class="orderId cell"> {{ order.orderId }}</div>
  <div class="status cell" statusColor statusValue="{{order.status}}"> {{ order.status }} </div>
  <div class="order-overview cell">{{ orderOverview }}</div>
  <div class="price cell"> {{ order.total | plnPipe }} </div>

  <div class="details cell" *ngIf="detailsToggle==false">
    <button (click)="showDetails()" class="details__button"><i-bs name="chevron-down"></i-bs></button>
  </div>

  <div class="details cell" *ngIf="detailsToggle==true">
    <button (click)="showDetails()" class="details__button"><i-bs name="chevron-up"></i-bs></button>
  </div>

</div>
<div class="order-details__table-row" *ngIf="detailsToggle==true">

  <div class="details__title">
    <div><b>Zamówione produkty</b></div>
  </div>

  <div class="ordered-products" *ngFor="let product of order.products">
    <div class="details__product-row">
      <div class="product-name"> {{ product.product.productName }}</div>
      <div class="product-price"> {{ product.quantity }}x {{ product.product.productPrice | plnPipe}}</div>
      <div class="product-toatl"> {{ (product.product.productPrice * product.quantity).toFixed(2) }} zł</div>
    </div>
  </div>

  <div class="details__button-group">
    <button class="details__delete-button" (click)="deleteOrder()">Usuń</button>
    <button class="details__status-button" (click)="toggleChange()">Zmień status</button>
    <button class="details__edit-button" (click)="edit()">Edytuj</button>
  </div>

  <div *ngIf="toggleStatusChange==true" class="status__button-group">
    <button (click)="changeStatus('Przygotowywane')" class="proccessing__button">Przygotowywane</button>
    <button (click)="changeStatus('Gotowe')" class="ready__button">Gotowe</button>
    <button (click)="changeStatus('Zrealizowane')" class="delivered__button">Zrealizowane</button>
  </div>
</div>



