<div class="component-products__container">
  <div class="products__search-bar">
    <h2>Dostępne produkty</h2>
    <div class="search-bar">
      <i-bs name="search" class="icon"></i-bs>
      <input type="text" id="products__search-bar-input" [formControl]="productFilter"/>
    </div>
  </div>
  <div class="products__categories">
    <button (click)="displayAll()" id="all-button" [class.active]="displayAllToggle"> Wszystko </button>
    <button (click)="displayEntrees()" id="etrees-button" [class.active]="displayEntreesToggle"> Przystawki </button>
    <button (click)="displayMains()" id="mains-button" [class.active]="displayMainsToggle"> Dania główne </button>
    <button (click)="displayDeserts()" id="desserts-button" [class.active]="displayDessertsToggle"> Desery </button>
    <button (click)="displayBeverages()" id="beverages-button" [class.active]="displayBeveragesToggle"> Napoje </button>
  </div>
  <cdk-virtual-scroll-viewport itemSize ="20" tvsItemSize="48" headerHeight="56">
    <div class="products__product-list">
      <app-product-item
      *cdkVirtualFor="let product of products | filterProducts:filterText"
      [productParentData]="product"></app-product-item>
    </div>
  </cdk-virtual-scroll-viewport>

</div>
