/* -------- Colors -------- */
:root {

  /* ---- Header ---- */
  --header-background: rgba(0, 0, 0, 0.2);
  --header-button-main-active: rgb(48, 77, 105);
  --header-button-hover-main-active: rgb(186, 46, 33, 0.75);

  --header-button-main: rgba(32, 32, 32, 0.1);
  --header-button-hover-main: rgba(32, 32, 32, 0.7);

  --header-button-side: rgba(0, 20, 39, 0.3);
  --header-button-side-hover: rgba(100, 131, 160, 0.4);

  /* ---- General ---- */
  --body-container: rgba(255, 255, 255, 0.2);
  --body-container-dark: rgba(0, 0, 0, 0.2);


  /* ---- Reservations Table ------- */
  --table-header: rgba(58, 89, 120, 1);
  --table-row: rgba(255, 255, 255, 0.1);
  --table-row-border: rgba(0, 0, 0, 0.1);
  --table-icon: rgba(58, 89, 120, 0.7);
  --table-details: rgba(58, 89, 120, 0.1);
  --table-details-row: rgba(255, 255, 255, 0.2);
  --details-button: rgba(58, 89, 120, 0.7);

  /* ---- Reservations Form -------- */
  --input-background: rgba(201, 223, 244, 1);
  --input-selected: rgba(174, 207, 238, 0.75);
  --form-button: rgba(58, 89, 120, 1);
  --form-button-hover: rgb(74, 113, 150);


  /* ---- Fonts ---- */
  --font-light: rgb(255, 255, 255, 0.8);
  --font-medium: rgb(167, 167, 167);
  --font-dark: rgb(0, 0, 0, 1);

  /* ---- Alerts ---- */
  --alert-green: rgba(143, 255, 0, 1);
  --alert-red: rgb(161, 42, 31);
}

/* -------- General -------- */

* {
  font-family: 'Montserrat', sans-serif !important;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: linear-gradient(-225deg, #CBBACC 0%, #2580B3 100%);
  background-blend-mode: multiply, multiply;
}

.container {
  display: table;
  height: 100%;
  width: 100%;
  margin: 0;
}

.header__container {
  display: table-row;
  height: 50px;
}

.main-content__container {
  display: table-row;
}

/* -------- Header -------- */


/* -------- Reservations -------- */
.reservations__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

/* -------- Reservations - Table  -------- */

.reservations-table__container {
  background-color: var(--body-container);
  width: 30rem;
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 4px;
  width: 50rem;
}

.reservations__table {
  padding: 0 1rem 0 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.overview {
  border-bottom: 1px var(--table-row-even) solid;
}

.table-header {
  background-color: var(--table-header);
  color: var(--font-light);
  font-weight: 500;
}

.cell {
  padding: 12px 15px 12px 15px;
}

.id {
  width: 5%;
}

.name,
.surname,
.date,
.time {
  width: 19%;
}

.edit,
.delete,
.details {
  width: 6.33%;
}

.reservations__table button {
  padding: 5px 7px 5px 7px;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease 0s;
}

.reservations__table button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

i-bs {
  color: var(--table-icon);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.reservations-table__container cdk-virtual-scroll-viewport {
  height: 500px;
  width: 98%;
  margin: 1rem 0 2.5rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

::-webkit-scrollbar-thumb {
  background-color: var(--header-button);
  -webkit-border-radius: 6px;
}

::selection {
  background-color: var(--header-background);
}

/* -------- Reservations - Table row -------- */

/* -------- Reservation table - details -------- */

.reservation-details {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  background-color: var(--table-row-even);
  width: 100%;
  font-size: 14px;
}

.right-cell {
  display: flex;
  flex-wrap: wrap;
  width: 33.33%;
}

/* -------- Reservations - Form -------- */

.reservations-form__container {
  background-color: var(--body-container);
  width: 30rem;
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 4px;
}

.reservation_title {
  display: block;
}

.reservations-form__container input,
.reservation-edit__container input {
  display: block;
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-style: none;
  background-color: var(--input-background);
  border-radius: 4px;
}

/* .reservations-form__container input[type="date"] {
  color: var(--lifght-font);
} */

.reservations-form__container input::placeholder,
.reservation-edit__container input::placeholder {
  color: var(--lifght-font);
}

.reservations-form__container input:focus,
.reservation-edit__container input:focus {
  background-color: var(--input-selected);
  border-style: none;
}

textarea:focus,
input:focus {
  outline: none;
}

.reservations-form__container input[type="submit"],
.reservation-edit__container input[type="submit"] {
  border-style: none;
  margin-top: 0.5rem;
  color: white;
  font-weight: bold;
  padding: 1rem;
  width: 45%;
  border-radius: 4px;
  background-color: var(--form-button);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.reservations-form__container input[type="submit"]:hover,
.reservation-edit__container input[type="submit"]:hover {
  background-color: var(--form-button-hover);
}

.reservations-form__container textarea,
.reservation-edit__container textarea {
  resize: none;
  display: block;
  width: 90%;
  height: 3rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: var(--input-background);
  border-style: none;
}

.reservations-form__container textarea:focus,
.reservation-edit__container textarea:focus {
  background-color: var(--input-selected);
}

.reservation__header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reservation__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* -------- Reservation - Edit -------- */
.exit-button__container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.exit-button__container button {
  padding: 5px 7px 5px 7px;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease 0s;
}

.exit-button__container button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.exit-button__container i-bs {
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}



.data-modified__alert {
  font-family: 'Montserrat', sans-serif !important;
  color: var(--alert-green);
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* -------- Alerts -------- */
.danger_alert {
  display: block;
  color: var(--alert-red);
  font-size: 14px;
  animation: fadeIn 1s;
  padding-bottom: 1rem;
  align-self: center;
}

.confirm_alert {
  display: block;
  color: var(--alert-green);
  font-size: 14px;
  animation: fadeIn 1s;
  padding-bottom: 1rem;
  align-self: center;
}

/* --------  -------- */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
