.today-reservations__table-row {
  background-color: sandybrown;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  width: 600px;
}

.cell {
  text-align: center;
}

.name {
  width: 120px;
  text-align: left;
  padding-left: 30px;
}

.date {
  width: 100px;

}

.time {
  width: 100px;

}

.table {
  width: 60px;
}

.details {
  width: 60px;
}
