.component__container {
  background-color: var(--body-container);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 35rem;
  padding: 1rem 1rem 0.5rem 1rem;
  height: 600px;
}

.new-order__button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  width: 560px;
}

.confirm-alert__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0rem;
  width: 560px;
}

.buttons__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 1rem;
  width: 560px;
}

.button {
  padding: 1rem 2rem 1rem 2rem;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--table-header);
  color: var(--font-light);
  border-style: none;
  transition: all 0.3s ease 0s;
}

.button:hover {
  background-color: var(--form-button-hover);
}
